@font-face {
  font-family: 'HandelGothic TL';
  src: url('HandelGothic TL/eur.ttf') format('truetype');
}

body {
  position: relative;
  width: 1440px;
  height: 2717px;
  background: #000000;
}

.line-1 {
  position: absolute;
  width: 0px;
  height: 2083px;
  left: 141px;
  top: 0px;
  border: 1px solid #494949;
}

.line-2 {
  position: absolute;
  width: 0px;
  height: 2083px;
  left: 723px;
  top: 0px;
  border: 1px solid #494949;
}

.line-3 {
  position: absolute;
  width: 0px;
  height: 2083px;
  left: 1305px;
  top: 0px;
  border: 1px solid #494949;
}

.line-4 {
  position: absolute;
  width: 107px;
  height: 0px;
  left: -1px;
  top: 67px;
  border: 2px solid #FFBF40;
}

/*текст*/
.portfolio {
  position: absolute;
  width: 772px;
  height: 28px;
  left: 142px;
  top: 42px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: -0.015em;
  text-transform: uppercase;
  color: #FFBF40;
}


.text {
    position: absolute;
    width: 674px;
    height: 255px;
    left: 724px;
    top: 113px;
    font-family: 'HandelGothic TL';
    font-style: normal;
    font-weight: 400;
    font-size: 86px;
    line-height: 98.49%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.position {
    position: absolute;
    width: 582px;
    height: 39px;
    left: 724px;
    top: 385px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 39px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #FFBF40;
}

.details {
    position: absolute;
    width: 582px;
    height: 112px;
    left: 724px;
    top: 461px;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.images-wrapper img {
  width: : 167px;
  height: 167px;
  margin-left: 10px;
}

a {
  text-decoration: none;
}


/*белый блок*/
.content {
  position: absolute;
  width: 1164px;
  height: 1405px;
  left: 144px;
  top: 1050px;
  background-color: white;
  border-radius: 48px;
}

.block {
  position: absolute;
  width: 1053px;
  height: 292px;
  left: 58px;
  top: 70px;
}

.block h1 {
  font-family: 'HandelGothic TL';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 98.49%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}

.block p {
  position: absolute;
  width: 944px;
  height: 84px;
  left: 0;
  top: 80px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #0E0E0E;
}

.block2 {
  position: absolute;
  width: 1055px;
  height: 240px;
  left: 58px;
  top: 303px;
}

.block2 h1 {
  position: absolute;
  width: 1053px;
  height: 68px;
  left: 0;
  top: 0;
  font-family: 'HandelGothic TL';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 98.49%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}

.block2 p {
  position: absolute;
  width: 944px;
  height: 84px;
  left: 0;
  top: 80px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #0E0E0E;
}

.block3 {
  position: absolute;
  width: 1055px;
  height: 240px;
  left: 58px;
  top: 536px;
}

.block3 h1 {
  position: absolute;
  width: 1053px;
  height: 68px;
  left: 0;
  top: 0;
  font-family: 'HandelGothic TL';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 98.49%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #FFBF40;
}

.block3 p {
  position: absolute;
  width: 944px;
  height: 84px;
  left: 0;
  top: 80px;
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #0E0E0E;
}

.block4 {
  position: absolute;
  width: 1053px;
  height: 68px;
  left: 58px;
  top: 758px;
}

.block4 h1 {
  font-family: 'HandelGothic TL';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 98.49%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #000000;
}


/*слайдер с дипломами*/
.slider {
  position: absolute;
  width: 100%;
  overflow: hidden;
  top: 850px;
  height: 530px;
}

.slides-container {
  display: flex;
  transition: transform 0.3s ease;
}

.slide {
  margin-left: 35px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.slider-controls {
  position: absolute;
  left: 3.5%;
  margin-top: 20px;
}

.prev-button,
.next-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #000000;
  cursor: pointer;
}

.prev-button {
  margin-right: 1000px;
}

.slider-controls button:focus {
  outline: none;
}


.icon-block {
  position: absolute;
  height: 84.06px;
  left: 496px;
  top: 2556px;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 30px;
}


/*слайдер с фотографиями*/
.slider-photo-container {
  position: absolute;
  width: 716.03px;
  height: 167px;
  left: 51px;
  top: 793px;
}

.slider-photo {
  display: flex;
  overflow: hidden;
  justify-content: center;
  margin-left: 30px;
}


.slide-item {
  height: 167px;
  width: 167px;
  margin-right: 20px;
}

.slider-prev-btn,
.slider-next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: #000;
}

.prev {
  position: absolute;
  width: 59.03px;
  height: 59.03px;
  top: 70px;
}

.next{
  position: absolute;
  width: 59.03px;
  height: 59.03px;
  top: 70px;
  left: 663px;
}

.current-slide {
  position: absolute;
  width: 536px;
  height: 662px;
  left: 141px;
  top: 113px;
}

.current-slide-item {
  width: 100%;
  height: 100%;
}